/*body style*/
body, html {
   height: 100%;
   color: #ffffff;
   overflow: hidden;
}
/*header style*/
header {
   width: 100%;
   color: #ffffff;
   text-align: left; 
   padding: 5px;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   align-items: center;
   line-height: 1.2;
   font-size: 18px;
   font-family: 'Century Schoolbook';
}
h2 {
   font-size: 30px;
   font-family: 'Century Schoolbook';
   margin-bottom: 10px;
   margin-top: 10px;
   color: #fec23b;
}
.branding {
   display: flex;
   flex-direction: column;
}
.branding .name {
   font-size: 40px;
   font-family: 'Century Schoolbook';
   font-weight: 700;
}
.branding .subtitle {
   font-style: italic;
   font-size: 30px;
   font-family: 'Century Schoolbook';
}
/*navigation bar style*/
nav {
   color: #ffffff;
   display: flex;
   flex-direction: row;
   overflow: hidden;
   justify-content: flex-start;
   gap: 2rem;
   text-align: right;
   word-spacing: 35px;
   padding: 0;
   position: static;
   top: 13px;
   right: 30px;
   font-family: 'Century Schoolbook';
}
/*navigation bar button style*/
nav a {
   color: #ffffff;
   display: flex;
   overflow: auto;
   text-align: right;
   text-decoration: none;
   line-height: 1.5;
   font-size: 38px;
   position: static;
   justify-content: right;
   font-family: 'Century Schoolbook';
}
a:hover {
   color: #fec23b;
}
/*creating the layout*/
* {
   box-sizing: border-box;
}
/*footer style*/
footer {
   color: #ffffff;
   display: flex;
   position: fixed;
   bottom: 0;
   width: 100%;
   text-align: center; 
   padding: 10px;
   justify-content: center;
   align-items: center;
   gap: 15px;
   font-family: 'Century Schoolbook';
}